* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.box {
    background: white;
    min-height: 760px;
    width: 680px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 0px;

    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #cccccc;
    box-shadow:  2px 2px 5px rgba(68, 68, 68, 0.2);

}

.album-name {
    display: flex;
    padding-bottom: 10px;
}

.album-name p {
    font-size: 15px;
}

.album-name b {
    font-size: 15px;
    color: #363636;
}

h4 {
    padding-bottom: 4px;
    cursor: pointer;
}

h4:hover,
b:hover {
    text-decoration: underline;
}

.icon-back {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-back:hover {
    background: #F2F2F2;
}

.date-ico {
    display: flex;
    align-items: center;
    gap: 2px;
}

.dp-img img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

p {
    font-size: 12px;
    color: #898A8D;
}

.dp-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.parent-div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 15px;

}

.cover {
    display: flex;
}

.cover img {
    width: 100%;
    border-radius: none;
    cursor: pointer;
}

.react {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.react p {
    font-size: 15px;
    cursor: pointer;
}

.react p:hover {
    text-decoration: underline;
}

.bottom-icon {
    padding: 6px 100px;
    display: flex;
    justify-content: space-between;

}

.bottom-icon p {
    font-size: 14px;
    font-weight: bold;
    color: #6E757D;
}

.make-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
}

.comment-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0px;
    gap: 5px;
}

.input-div {
    background: #F0F2F5;
    width: 600px;
    padding: 0px 10px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 10000px;
}


.comment-sec img {
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.comment-sec svg:hover {
    cursor: pointer;
}

hr {
    border: 1px solid #E4E6EB;
}


.make-horizontal {
    width: 150px;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
}


.make-horizontal:hover {
    background: #F2F2F2;

}