* {
    padding: 0;
    margin-bottom: 0;
    margin: 0;
    margin-left: 10px;
}

p {
    font-family: Arial;
}

.video-title {
    color: black;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.video-stats {
    color: #4D4D4D;
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: 500;
}

.video-author {
    color: #4D4D4D;
    font-size: 17px;
    margin-bottom: 20px;
}

.video-descrip {

    color: #4D4D4D;
    font-size: 17px;
    margin-bottom: 70px;
    width: 350px;
}

.apple-text{
    color: #4D4D4D;
    font-size: 17px;
    padding-bottom: 20px;
    margin-right: 50px;
    background-color: #DF3936;
    color: white;
    text-align: center;
    padding: 30px 10px;

}